# Data Gathering and EDA - Monthly Timeframes

This notebook deals exclusively with the series that have monthly time scales, which is our target time scale.

In [1]:
# Standard Library Modules
import json
import os
from pathlib import Path

# Pip Modules
import pandas as pd
from requests import HTTPError

# Custom Modules
from src.utilities import new_logger, fetch_with_cache, save_atomic


# Setting Pandas DataFrame options
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [2]:
# Start the logging object
logger = new_logger("eda.hf_series", 'logs/eda')

In [30]:
# Storing a JSON configuration file at the root of the project for EDA
# will use the config.yaml with Hydra during the actual ML pipeline
config_path = Path('eda/fred_api.conf')
abs_config_path = config_path.resolve()

# API Configuration
if os.path.exists(abs_config_path):
    logger.debug(f"Discovered {abs_config_path}, attempting to read...")
    with open(abs_config_path, 'r') as json_fp:
        logger.debug(f"Opened {abs_config_path}, attempting to load.")
        config = json.load(json_fp)
        logger.debug(f"Loaded {abs_config_path}, checking attributes...")
    if not(isinstance(config['api_uri'], str) and len(config['api_uri']) > 0):
        logger.error(f"The JSON config is missing the attribute 'api_uri', please make sure it exists.")
    elif not(isinstance(config['api_key'], str) and len(config['api_key']) > 0):
        logger.error(f"The JSON config is missing the attribute 'api_key', please make sure it exists.")
    else:
        logger.info(f"All attributes found, you may continue.")
else:
    logger.error(f"Could not find {abs_config_path}, make sure it exists before continuing.")

## Monthly Series

The monthly series are going to be the easiest to deal with. For each series, the goal is to bring down the original response and save it as a Feather file under its series name.

If the Feather file is older than 30 days, the data will be refreshed. Otherwise, the feather file on disk will be used. This is to reduce the number of times the API is called.

In [4]:
monthly_series = [
    'HSN1FNSA',
    'PERMIT1NSA',
    'HOUST1FNSA',
    'UNDCON1UNSA',
    'COMPU1UNSA',
    'ACTLISCOUUS',
    'NEWLISCOUUS',
    'MEDDAYONMARUS',
    'MNMFS',
    'EXSFHSUSM495N',
    'HOSINVUSM495N',
    'MSACSRNSA',
    'PRRESCON',
    'WPU80',
    'PPIACO',
    'WPU101',
    'WPU102',
    'WPU081',
    'WPU139902094',
    'FMNHSHPSIUS',
    'FIXHAI',
    'UNRATE',
    'ADPMINDCONNERNSA',
    'ADPMNUSNERNSA',
    'CSUSHPINSA',
    'UMCSENT',
    'CUUR0000SEHA'
]

The approach here is relatively straightforward:

1. Make an API GET request for the series in question.
2. Save the resulting JSON response in CSV format under data/orig/
3. Parse the JSON response object:
    1. Index can be found in `resp['observations'][i]['date']`, where i is the index of the observation
    2. Value can be found in `resp['observations'][i]['value']`, where i is the index of the observation
4. Create a DataFrame, convert the `date` column to a `np.datetime64[ns]` and make it the index.

In [5]:
# proof of concept using a single series
series_id = 'HSN1FNSA'
request_uri = f"{config['api_uri']}?series_id={series_id}&api_key={config['api_key']}&file_type=json"

series_df = fetch_with_cache(series_id=series_id, request_uri=request_uri, dest="data/orig")

In [6]:
series_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 752 entries, 0 to 751
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      752 non-null    datetime64[ns]
 1   HSN1FNSA  752 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 11.9 KB

In [7]:
series_df.head(15)

         date  HSN1FNSA
0  1963-01-01      42.0
1  1963-02-01      35.0
2  1963-03-01      44.0
3  1963-04-01      52.0
4  1963-05-01      58.0
5  1963-06-01      48.0
6  1963-07-01      62.0
7  1963-08-01      56.0
8  1963-09-01      49.0
9  1963-10-01      44.0
10 1963-11-01      39.0
11 1963-12-01      31.0
12 1964-01-01      39.0
13 1964-02-01      46.0
14 1964-03-01      53.0

Now that the single-series POC is out of the way, let's dive right in. I will create a list of dataframes and then parse that list so that we end up with one large dataframe comprised of all monthly features.

The `date` columns will be used to outer join all of the series together. Then, any na rows will be dropped and we'll see what we're left with.

In [8]:
# fetching all of the data down and caching it locally
data_frames = []
for series in monthly_series:
    request_uri = f"{config['api_uri']}?series_id={series}&api_key={config['api_key']}&file_type=json"
    logger.info(f"Starting fetch process for {series}...")
    try:
        data_frames.append(fetch_with_cache(series_id=series, request_uri=request_uri, dest="data/orig"))
        logger.debug(f"Setting the {series} DataFrame's index to `date`...")
        data_frames[-1] = data_frames[-1].set_index('date', drop=True).sort_index()
    except HTTPError as err:
        logger.error(err)
    logger.info(f"Fetch process for {series} ({data_frames[-1].shape}) is complete.")

In [9]:
monthly_df = pd.concat(data_frames, axis=1, join='outer', verify_integrity=True)

In [10]:
monthly_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1354 entries, 1913-01-01 to 2025-10-01
Freq: MS
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   HSN1FNSA          752 non-null    float64
 1   PERMIT1NSA        800 non-null    float64
 2   HOUST1FNSA        800 non-null    float64
 3   UNDCON1UNSA       669 non-null    float64
 4   COMPU1UNSA        692 non-null    float64
 5   ACTLISCOUUS       112 non-null    float64
 6   NEWLISCOUUS       112 non-null    float64
 7   MEDDAYONMARUS     112 non-null    float64
 8   MNMFS             608 non-null    float64
 9   EXSFHSUSM495N     13 non-null     float64
 10  HOSINVUSM495N     13 non-null     float64
 11  MSACSRNSA         752 non-null    float64
 12  PRRESCON          392 non-null    float64
 13  WPU80             195 non-null    float64
 14  PPIACO            1352 non-null   float64
 15  WPU101            1196 non-null   float64
 16  WPU102            1196 non-null   float64
 17  WPU081            1196 non-null   float64
 18  WPU139902094      129 non-null    float64
 19  FMNHSHPSIUS       175 non-null    float64
 20  FIXHAI            13 non-null     float64
 21  UNRATE            932 non-null    float64
 22  ADPMINDCONNERNSA  190 non-null    float64
 23  ADPMNUSNERNSA     190 non-null    float64
 24  CSUSHPINSA        464 non-null    float64
 25  UMCSENT           665 non-null    float64
 26  CUUR0000SEHA      1069 non-null   float64
dtypes: float64(27)
memory usage: 296.2 KB

In [11]:
monthly_df.describe()

,HSN1FNSA,PERMIT1NSA,HOUST1FNSA,UNDCON1UNSA,COMPU1UNSA,ACTLISCOUUS,NEWLISCOUUS,MEDDAYONMARUS,MNMFS,EXSFHSUSM495N,HOSINVUSM495N,MSACSRNSA,PRRESCON,WPU80,PPIACO,WPU101,WPU102,WPU081,WPU139902094,FMNHSHPSIUS,FIXHAI,UNRATE,ADPMINDCONNERNSA,ADPMNUSNERNSA,CSUSHPINSA,UMCSENT,CUUR0000SEHA
count,752.000000,800.000000,800.000000,669.000000,692.000000,1.120000e+02,112.000000,112.000000,608.000000,13.000000,1.300000e+01,752.000000,392.000000,195.000000,1352.000000,1196.000000,1196.000000,1196.000000,129.000000,175.00000,13.000000,932.000000,1.900000e+02,1.900000e+02,464.000000,665.000000,1069.000000
mean,54.695479,74.559875,84.508250,563.311958,83.548410,9.096872e+05,421838.892857,57.125000,4.957401,306230.769231,1.392308e+06,6.191622,38351.423469,122.773544,79.141930,92.644375,100.473963,97.921573,133.076333,76.56800,100.000000,5.670386,6.748211e+06,1.210996e+08,150.879578,84.898947,129.728935
std,18.315596,26.090490,27.833287,157.006120,24.641903,2.983720e+05,82726.680860,12.728718,2.003155,43380.398504,1.472047e+05,1.916582,18515.887182,23.595153,71.397638,90.969971,93.284567,86.243915,20.721828,9.24815,3.263944,1.707418,9.777278e+05,8.503040e+06,71.486786,13.217724,110.390731
min,20.000000,22.100000,22.700000,221.600000,26.000000,3.465140e+05,215940.000000,30.000000,1.500000,218000.000000,1.140000e+06,3.000000,12141.000000,97.600000,10.300000,8.500000,7.600000,4.500000,100.000000,56.70000,93.800000,2.500000,5.126000e+06,1.038990e+08,63.733000,50.000000,21.000000
25%,43.000000,56.300000,63.475000,470.500000,68.175000,6.687245e+05,372829.000000,50.000000,3.700000,287000.000000,1.330000e+06,4.800000,23479.500000,104.250000,18.100000,20.350000,28.100000,27.900000,113.900000,69.65000,98.800000,4.300000,5.824250e+06,1.147122e+08,83.520250,74.500000,37.900000
50%,53.000000,71.550000,83.250000,559.600000,83.200000,9.283750e+05,426440.000000,57.000000,4.600000,314000.000000,1.370000e+06,5.900000,33469.500000,113.900000,35.400000,60.250000,69.850000,70.800000,134.100000,76.50000,100.900000,5.500000,6.931500e+06,1.211930e+08,144.018000,88.600000,85.800000
75%,64.000000,90.800000,102.525000,659.600000,99.400000,1.160874e+06,486274.000000,65.000000,5.700000,341000.000000,1.540000e+06,7.200000,49010.000000,131.423000,125.700000,125.350000,136.925000,172.200000,149.651000,83.35000,102.400000,6.700000,7.440500e+06,1.272350e+08,183.633500,94.700000,205.100000
max,127.000000,166.200000,170.400000,985.000000,162.800000,1.463025e+06,584354.000000,88.000000,14.000000,356000.000000,1.550000e+06,14.400000,88297.000000,168.824000,280.251000,433.525000,403.846000,462.000000,170.304000,93.80000,104.900000,14.800000,8.479000e+06,1.359950e+08,331.685000,112.000000,438.212000

## Weekly and Daily Series

We can use the FRED frequency aggregation feature to convert higher frequency data series into lower frequency data series.

This is done with the `frequency` and `aggregation_method` parameters in the API request.

In [12]:
hf_series = [
    'MORTGAGE30US',
    'MORTGAGE15US',
    'OBMMIVA30YF',
    'OBMMIJUMBO30YF',
    'OBMMIFHA30YF',
    'OBMMIC30YF',
    'OBMMIUSDA30YF',
    'OBMMIC30YFNA',
    'OBMMIC15YF'
]

In [13]:
# fetching all of the higher frequency data down and caching it locally
hf_data_frames = []
for series in hf_series:
    request_uri = f"{config['api_uri']}?series_id={series}&api_key={config['api_key']}&file_type=json&frequency=m&aggregation_method=eop"
    logger.info(f"Starting fetch process for {series}...")
    try:
        hf_data_frames.append(fetch_with_cache(series_id=series, request_uri=request_uri, dest="data/orig"))
        logger.debug(f"Setting the {series} DataFrame's index to `date`...")
        hf_data_frames[-1] = hf_data_frames[-1].set_index('date', drop=True).sort_index()
    except HTTPError as err:
        logger.error(err)
    logger.info(f"Fetch process for {series} ({hf_data_frames[-1].shape}) is complete.")

In [14]:
monthly_hf_df = pd.concat(hf_data_frames, axis=1, join='outer', verify_integrity=True)

In [15]:
monthly_hf_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 656 entries, 1971-04-01 to 2025-11-01
Freq: MS
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   MORTGAGE30US    655 non-null    float64
 1   MORTGAGE15US    410 non-null    float64
 2   OBMMIVA30YF     106 non-null    float64
 3   OBMMIJUMBO30YF  106 non-null    float64
 4   OBMMIFHA30YF    106 non-null    float64
 5   OBMMIC30YF      106 non-null    float64
 6   OBMMIUSDA30YF   106 non-null    float64
 7   OBMMIC30YFNA    106 non-null    float64
 8   OBMMIC15YF      106 non-null    float64
dtypes: float64(9)
memory usage: 51.2 KB

In [16]:
monthly_hf_df.index.values

array(['1971-04-01T00:00:00.000000000', '1971-05-01T00:00:00.000000000',
       '1971-06-01T00:00:00.000000000', '1971-07-01T00:00:00.000000000',
       '1971-08-01T00:00:00.000000000', '1971-09-01T00:00:00.000000000',
       '1971-10-01T00:00:00.000000000', '1971-11-01T00:00:00.000000000',
       '1971-12-01T00:00:00.000000000', '1972-01-01T00:00:00.000000000',
       '1972-02-01T00:00:00.000000000', '1972-03-01T00:00:00.000000000',
       '1972-04-01T00:00:00.000000000', '1972-05-01T00:00:00.000000000',
       '1972-06-01T00:00:00.000000000', '1972-07-01T00:00:00.000000000',
       '1972-08-01T00:00:00.000000000', '1972-09-01T00:00:00.000000000',
       '1972-10-01T00:00:00.000000000', '1972-11-01T00:00:00.000000000',
       '1972-12-01T00:00:00.000000000', '1973-01-01T00:00:00.000000000',
       '1973-02-01T00:00:00.000000000', '1973-03-01T00:00:00.000000000',
       '1973-04-01T00:00:00.000000000', '1973-05-01T00:00:00.000000000',
       '1973-06-01T00:00:00.000000000', '1973-07-01T00:00:00.000000000',
       '1973-08-01T00:00:00.000000000', '1973-09-01T00:00:00.000000000',
       '1973-10-01T00:00:00.000000000', '1973-11-01T00:00:00.000000000',
       '1973-12-01T00:00:00.000000000', '1974-01-01T00:00:00.000000000',
       '1974-02-01T00:00:00.000000000', '1974-03-01T00:00:00.000000000',
       '1974-04-01T00:00:00.000000000', '1974-05-01T00:00:00.000000000',
       '1974-06-01T00:00:00.000000000', '1974-07-01T00:00:00.000000000',
       '1974-08-01T00:00:00.000000000', '1974-09-01T00:00:00.000000000',
       '1974-10-01T00:00:00.000000000', '1974-11-01T00:00:00.000000000',
       '1974-12-01T00:00:00.000000000', '1975-01-01T00:00:00.000000000',
       '1975-02-01T00:00:00.000000000', '1975-03-01T00:00:00.000000000',
       '1975-04-01T00:00:00.000000000', '1975-05-01T00:00:00.000000000',
       '1975-06-01T00:00:00.000000000', '1975-07-01T00:00:00.000000000',
       '1975-08-01T00:00:00.000000000', '1975-09-01T00:00:00.000000000',
       '1975-10-01T00:00:00.000000000', '1975-11-01T00:00:00.000000000',
       '1975-12-01T00:00:00.000000000', '1976-01-01T00:00:00.000000000',
       '1976-02-01T00:00:00.000000000', '1976-03-01T00:00:00.000000000',
       '1976-04-01T00:00:00.000000000', '1976-05-01T00:00:00.000000000',
       '1976-06-01T00:00:00.000000000', '1976-07-01T00:00:00.000000000',
       '1976-08-01T00:00:00.000000000', '1976-09-01T00:00:00.000000000',
       '1976-10-01T00:00:00.000000000', '1976-11-01T00:00:00.000000000',
       '1976-12-01T00:00:00.000000000', '1977-01-01T00:00:00.000000000',
       '1977-02-01T00:00:00.000000000', '1977-03-01T00:00:00.000000000',
       '1977-04-01T00:00:00.000000000', '1977-05-01T00:00:00.000000000',
       '1977-06-01T00:00:00.000000000', '1977-07-01T00:00:00.000000000',
       '1977-08-01T00:00:00.000000000', '1977-09-01T00:00:00.000000000',
       '1977-10-01T00:00:00.000000000', '1977-11-01T00:00:00.000000000',
       '1977-12-01T00:00:00.000000000', '1978-01-01T00:00:00.000000000',
       '1978-02-01T00:00:00.000000000', '1978-03-01T00:00:00.000000000',
       '1978-04-01T00:00:00.000000000', '1978-05-01T00:00:00.000000000',
       '1978-06-01T00:00:00.000000000', '1978-07-01T00:00:00.000000000',
       '1978-08-01T00:00:00.000000000', '1978-09-01T00:00:00.000000000',
       '1978-10-01T00:00:00.000000000', '1978-11-01T00:00:00.000000000',
       '1978-12-01T00:00:00.000000000', '1979-01-01T00:00:00.000000000',
       '1979-02-01T00:00:00.000000000', '1979-03-01T00:00:00.000000000',
       '1979-04-01T00:00:00.000000000', '1979-05-01T00:00:00.000000000',
       '1979-06-01T00:00:00.000000000', '1979-07-01T00:00:00.000000000',
       '1979-08-01T00:00:00.000000000', '1979-09-01T00:00:00.000000000',
       '1979-10-01T00:00:00.000000000', '1979-11-01T00:00:00.000000000',
       '1979-12-01T00:00:00.000000000', '1980-01-01T00:00:00.000000000',
       '1980-02-01T00:00:00.000000000', '1980-03-01T00:00:00.000000000',
       '1980-04-01T00:00:00.000000000', '1980-05-01T00:00:00.000000000',
       '1980-06-01T00:00:00.000000000', '1980-07-01T00:00:00.000000000',
       '1980-08-01T00:00:00.000000000', '1980-09-01T00:00:00.000000000',
       '1980-10-01T00:00:00.000000000', '1980-11-01T00:00:00.000000000',
       '1980-12-01T00:00:00.000000000', '1981-01-01T00:00:00.000000000',
       '1981-02-01T00:00:00.000000000', '1981-03-01T00:00:00.000000000',
       '1981-04-01T00:00:00.000000000', '1981-05-01T00:00:00.000000000',
       '1981-06-01T00:00:00.000000000', '1981-07-01T00:00:00.000000000',
       '1981-08-01T00:00:00.000000000', '1981-09-01T00:00:00.000000000',
       '1981-10-01T00:00:00.000000000', '1981-11-01T00:00:00.000000000',
       '1981-12-01T00:00:00.000000000', '1982-01-01T00:00:00.000000000',
       '1982-02-01T00:00:00.000000000', '1982-03-01T00:00:00.000000000',
       '1982-04-01T00:00:00.000000000', '1982-05-01T00:00:00.000000000',
       '1982-06-01T00:00:00.000000000', '1982-07-01T00:00:00.000000000',
       '1982-08-01T00:00:00.000000000', '1982-09-01T00:00:00.000000000',
       '1982-10-01T00:00:00.000000000', '1982-11-01T00:00:00.000000000',
       '1982-12-01T00:00:00.000000000', '1983-01-01T00:00:00.000000000',
       '1983-02-01T00:00:00.000000000', '1983-03-01T00:00:00.000000000',
       '1983-04-01T00:00:00.000000000', '1983-05-01T00:00:00.000000000',
       '1983-06-01T00:00:00.000000000', '1983-07-01T00:00:00.000000000',
       '1983-08-01T00:00:00.000000000', '1983-09-01T00:00:00.000000000',
       '1983-10-01T00:00:00.000000000', '1983-11-01T00:00:00.000000000',
       '1983-12-01T00:00:00.000000000', '1984-01-01T00:00:00.000000000',
       '1984-02-01T00:00:00.000000000', '1984-03-01T00:00:00.000000000',
       '1984-04-01T00:00:00.000000000', '1984-05-01T00:00:00.000000000',
       '1984-06-01T00:00:00.000000000', '1984-07-01T00:00:00.000000000',
       '1984-08-01T00:00:00.000000000', '1984-09-01T00:00:00.000000000',
       '1984-10-01T00:00:00.000000000', '1984-11-01T00:00:00.000000000',
       '1984-12-01T00:00:00.000000000', '1985-01-01T00:00:00.000000000',
       '1985-02-01T00:00:00.000000000', '1985-03-01T00:00:00.000000000',
       '1985-04-01T00:00:00.000000000', '1985-05-01T00:00:00.000000000',
       '1985-06-01T00:00:00.000000000', '1985-07-01T00:00:00.000000000',
       '1985-08-01T00:00:00.000000000', '1985-09-01T00:00:00.000000000',
       '1985-10-01T00:00:00.000000000', '1985-11-01T00:00:00.000000000',
       '1985-12-01T00:00:00.000000000', '1986-01-01T00:00:00.000000000',
       '1986-02-01T00:00:00.000000000', '1986-03-01T00:00:00.000000000',
       '1986-04-01T00:00:00.000000000', '1986-05-01T00:00:00.000000000',
       '1986-06-01T00:00:00.000000000', '1986-07-01T00:00:00.000000000',
       '1986-08-01T00:00:00.000000000', '1986-09-01T00:00:00.000000000',
       '1986-10-01T00:00:00.000000000', '1986-11-01T00:00:00.000000000',
       '1986-12-01T00:00:00.000000000', '1987-01-01T00:00:00.000000000',
       '1987-02-01T00:00:00.000000000', '1987-03-01T00:00:00.000000000',
       '1987-04-01T00:00:00.000000000', '1987-05-01T00:00:00.000000000',
       '1987-06-01T00:00:00.000000000', '1987-07-01T00:00:00.000000000',
       '1987-08-01T00:00:00.000000000', '1987-09-01T00:00:00.000000000',
       '1987-10-01T00:00:00.000000000', '1987-11-01T00:00:00.000000000',
       '1987-12-01T00:00:00.000000000', '1988-01-01T00:00:00.000000000',
       '1988-02-01T00:00:00.000000000', '1988-03-01T00:00:00.000000000',
       '1988-04-01T00:00:00.000000000', '1988-05-01T00:00:00.000000000',
       '1988-06-01T00:00:00.000000000', '1988-07-01T00:00:00.000000000',
       '1988-08-01T00:00:00.000000000', '1988-09-01T00:00:00.000000000',
       '1988-10-01T00:00:00.000000000', '1988-11-01T00:00:00.000000000',
       '1988-12-01T00:00:00.000000000', '1989-01-01T00:00:00.000000000',
       '1989-02-01T00:00:00.000000000', '1989-03-01T00:00:00.000000000',
       '1989-04-01T00:00:00.000000000', '1989-05-01T00:00:00.000000000',
       '1989-06-01T00:00:00.000000000', '1989-07-01T00:00:00.000000000',
       '1989-08-01T00:00:00.000000000', '1989-09-01T00:00:00.000000000',
       '1989-10-01T00:00:00.000000000', '1989-11-01T00:00:00.000000000',
       '1989-12-01T00:00:00.000000000', '1990-01-01T00:00:00.000000000',
       '1990-02-01T00:00:00.000000000', '1990-03-01T00:00:00.000000000',
       '1990-04-01T00:00:00.000000000', '1990-05-01T00:00:00.000000000',
       '1990-06-01T00:00:00.000000000', '1990-07-01T00:00:00.000000000',
       '1990-08-01T00:00:00.000000000', '1990-09-01T00:00:00.000000000',
       '1990-10-01T00:00:00.000000000', '1990-11-01T00:00:00.000000000',
       '1990-12-01T00:00:00.000000000', '1991-01-01T00:00:00.000000000',
       '1991-02-01T00:00:00.000000000', '1991-03-01T00:00:00.000000000',
       '1991-04-01T00:00:00.000000000', '1991-05-01T00:00:00.000000000',
       '1991-06-01T00:00:00.000000000', '1991-07-01T00:00:00.000000000',
       '1991-08-01T00:00:00.000000000', '1991-09-01T00:00:00.000000000',
       '1991-10-01T00:00:00.000000000', '1991-11-01T00:00:00.000000000',
       '1991-12-01T00:00:00.000000000', '1992-01-01T00:00:00.000000000',
       '1992-02-01T00:00:00.000000000', '1992-03-01T00:00:00.000000000',
       '1992-04-01T00:00:00.000000000', '1992-05-01T00:00:00.000000000',
       '1992-06-01T00:00:00.000000000', '1992-07-01T00:00:00.000000000',
       '1992-08-01T00:00:00.000000000', '1992-09-01T00:00:00.000000000',
       '1992-10-01T00:00:00.000000000', '1992-11-01T00:00:00.000000000',
       '1992-12-01T00:00:00.000000000', '1993-01-01T00:00:00.000000000',
       '1993-02-01T00:00:00.000000000', '1993-03-01T00:00:00.000000000',
       '1993-04-01T00:00:00.000000000', '1993-05-01T00:00:00.000000000',
       '1993-06-01T00:00:00.000000000', '1993-07-01T00:00:00.000000000',
       '1993-08-01T00:00:00.000000000', '1993-09-01T00:00:00.000000000',
       '1993-10-01T00:00:00.000000000', '1993-11-01T00:00:00.000000000',
       '1993-12-01T00:00:00.000000000', '1994-01-01T00:00:00.000000000',
       '1994-02-01T00:00:00.000000000', '1994-03-01T00:00:00.000000000',
       '1994-04-01T00:00:00.000000000', '1994-05-01T00:00:00.000000000',
       '1994-06-01T00:00:00.000000000', '1994-07-01T00:00:00.000000000',
       '1994-08-01T00:00:00.000000000', '1994-09-01T00:00:00.000000000',
       '1994-10-01T00:00:00.000000000', '1994-11-01T00:00:00.000000000',
       '1994-12-01T00:00:00.000000000', '1995-01-01T00:00:00.000000000',
       '1995-02-01T00:00:00.000000000', '1995-03-01T00:00:00.000000000',
       '1995-04-01T00:00:00.000000000', '1995-05-01T00:00:00.000000000',
       '1995-06-01T00:00:00.000000000', '1995-07-01T00:00:00.000000000',
       '1995-08-01T00:00:00.000000000', '1995-09-01T00:00:00.000000000',
       '1995-10-01T00:00:00.000000000', '1995-11-01T00:00:00.000000000',
       '1995-12-01T00:00:00.000000000', '1996-01-01T00:00:00.000000000',
       '1996-02-01T00:00:00.000000000', '1996-03-01T00:00:00.000000000',
       '1996-04-01T00:00:00.000000000', '1996-05-01T00:00:00.000000000',
       '1996-06-01T00:00:00.000000000', '1996-07-01T00:00:00.000000000',
       '1996-08-01T00:00:00.000000000', '1996-09-01T00:00:00.000000000',
       '1996-10-01T00:00:00.000000000', '1996-11-01T00:00:00.000000000',
       '1996-12-01T00:00:00.000000000', '1997-01-01T00:00:00.000000000',
       '1997-02-01T00:00:00.000000000', '1997-03-01T00:00:00.000000000',
       '1997-04-01T00:00:00.000000000', '1997-05-01T00:00:00.000000000',
       '1997-06-01T00:00:00.000000000', '1997-07-01T00:00:00.000000000',
       '1997-08-01T00:00:00.000000000', '1997-09-01T00:00:00.000000000',
       '1997-10-01T00:00:00.000000000', '1997-11-01T00:00:00.000000000',
       '1997-12-01T00:00:00.000000000', '1998-01-01T00:00:00.000000000',
       '1998-02-01T00:00:00.000000000', '1998-03-01T00:00:00.000000000',
       '1998-04-01T00:00:00.000000000', '1998-05-01T00:00:00.000000000',
       '1998-06-01T00:00:00.000000000', '1998-07-01T00:00:00.000000000',
       '1998-08-01T00:00:00.000000000', '1998-09-01T00:00:00.000000000',
       '1998-10-01T00:00:00.000000000', '1998-11-01T00:00:00.000000000',
       '1998-12-01T00:00:00.000000000', '1999-01-01T00:00:00.000000000',
       '1999-02-01T00:00:00.000000000', '1999-03-01T00:00:00.000000000',
       '1999-04-01T00:00:00.000000000', '1999-05-01T00:00:00.000000000',
       '1999-06-01T00:00:00.000000000', '1999-07-01T00:00:00.000000000',
       '1999-08-01T00:00:00.000000000', '1999-09-01T00:00:00.000000000',
       '1999-10-01T00:00:00.000000000', '1999-11-01T00:00:00.000000000',
       '1999-12-01T00:00:00.000000000', '2000-01-01T00:00:00.000000000',
       '2000-02-01T00:00:00.000000000', '2000-03-01T00:00:00.000000000',
       '2000-04-01T00:00:00.000000000', '2000-05-01T00:00:00.000000000',
       '2000-06-01T00:00:00.000000000', '2000-07-01T00:00:00.000000000',
       '2000-08-01T00:00:00.000000000', '2000-09-01T00:00:00.000000000',
       '2000-10-01T00:00:00.000000000', '2000-11-01T00:00:00.000000000',
       '2000-12-01T00:00:00.000000000', '2001-01-01T00:00:00.000000000',
       '2001-02-01T00:00:00.000000000', '2001-03-01T00:00:00.000000000',
       '2001-04-01T00:00:00.000000000', '2001-05-01T00:00:00.000000000',
       '2001-06-01T00:00:00.000000000', '2001-07-01T00:00:00.000000000',
       '2001-08-01T00:00:00.000000000', '2001-09-01T00:00:00.000000000',
       '2001-10-01T00:00:00.000000000', '2001-11-01T00:00:00.000000000',
       '2001-12-01T00:00:00.000000000', '2002-01-01T00:00:00.000000000',
       '2002-02-01T00:00:00.000000000', '2002-03-01T00:00:00.000000000',
       '2002-04-01T00:00:00.000000000', '2002-05-01T00:00:00.000000000',
       '2002-06-01T00:00:00.000000000', '2002-07-01T00:00:00.000000000',
       '2002-08-01T00:00:00.000000000', '2002-09-01T00:00:00.000000000',
       '2002-10-01T00:00:00.000000000', '2002-11-01T00:00:00.000000000',
       '2002-12-01T00:00:00.000000000', '2003-01-01T00:00:00.000000000',
       '2003-02-01T00:00:00.000000000', '2003-03-01T00:00:00.000000000',
       '2003-04-01T00:00:00.000000000', '2003-05-01T00:00:00.000000000',
       '2003-06-01T00:00:00.000000000', '2003-07-01T00:00:00.000000000',
       '2003-08-01T00:00:00.000000000', '2003-09-01T00:00:00.000000000',
       '2003-10-01T00:00:00.000000000', '2003-11-01T00:00:00.000000000',
       '2003-12-01T00:00:00.000000000', '2004-01-01T00:00:00.000000000',
       '2004-02-01T00:00:00.000000000', '2004-03-01T00:00:00.000000000',
       '2004-04-01T00:00:00.000000000', '2004-05-01T00:00:00.000000000',
       '2004-06-01T00:00:00.000000000', '2004-07-01T00:00:00.000000000',
       '2004-08-01T00:00:00.000000000', '2004-09-01T00:00:00.000000000',
       '2004-10-01T00:00:00.000000000', '2004-11-01T00:00:00.000000000',
       '2004-12-01T00:00:00.000000000', '2005-01-01T00:00:00.000000000',
       '2005-02-01T00:00:00.000000000', '2005-03-01T00:00:00.000000000',
       '2005-04-01T00:00:00.000000000', '2005-05-01T00:00:00.000000000',
       '2005-06-01T00:00:00.000000000', '2005-07-01T00:00:00.000000000',
       '2005-08-01T00:00:00.000000000', '2005-09-01T00:00:00.000000000',
       '2005-10-01T00:00:00.000000000', '2005-11-01T00:00:00.000000000',
       '2005-12-01T00:00:00.000000000', '2006-01-01T00:00:00.000000000',
       '2006-02-01T00:00:00.000000000', '2006-03-01T00:00:00.000000000',
       '2006-04-01T00:00:00.000000000', '2006-05-01T00:00:00.000000000',
       '2006-06-01T00:00:00.000000000', '2006-07-01T00:00:00.000000000',
       '2006-08-01T00:00:00.000000000', '2006-09-01T00:00:00.000000000',
       '2006-10-01T00:00:00.000000000', '2006-11-01T00:00:00.000000000',
       '2006-12-01T00:00:00.000000000', '2007-01-01T00:00:00.000000000',
       '2007-02-01T00:00:00.000000000', '2007-03-01T00:00:00.000000000',
       '2007-04-01T00:00:00.000000000', '2007-05-01T00:00:00.000000000',
       '2007-06-01T00:00:00.000000000', '2007-07-01T00:00:00.000000000',
       '2007-08-01T00:00:00.000000000', '2007-09-01T00:00:00.000000000',
       '2007-10-01T00:00:00.000000000', '2007-11-01T00:00:00.000000000',
       '2007-12-01T00:00:00.000000000', '2008-01-01T00:00:00.000000000',
       '2008-02-01T00:00:00.000000000', '2008-03-01T00:00:00.000000000',
       '2008-04-01T00:00:00.000000000', '2008-05-01T00:00:00.000000000',
       '2008-06-01T00:00:00.000000000', '2008-07-01T00:00:00.000000000',
       '2008-08-01T00:00:00.000000000', '2008-09-01T00:00:00.000000000',
       '2008-10-01T00:00:00.000000000', '2008-11-01T00:00:00.000000000',
       '2008-12-01T00:00:00.000000000', '2009-01-01T00:00:00.000000000',
       '2009-02-01T00:00:00.000000000', '2009-03-01T00:00:00.000000000',
       '2009-04-01T00:00:00.000000000', '2009-05-01T00:00:00.000000000',
       '2009-06-01T00:00:00.000000000', '2009-07-01T00:00:00.000000000',
       '2009-08-01T00:00:00.000000000', '2009-09-01T00:00:00.000000000',
       '2009-10-01T00:00:00.000000000', '2009-11-01T00:00:00.000000000',
       '2009-12-01T00:00:00.000000000', '2010-01-01T00:00:00.000000000',
       '2010-02-01T00:00:00.000000000', '2010-03-01T00:00:00.000000000',
       '2010-04-01T00:00:00.000000000', '2010-05-01T00:00:00.000000000',
       '2010-06-01T00:00:00.000000000', '2010-07-01T00:00:00.000000000',
       '2010-08-01T00:00:00.000000000', '2010-09-01T00:00:00.000000000',
       '2010-10-01T00:00:00.000000000', '2010-11-01T00:00:00.000000000',
       '2010-12-01T00:00:00.000000000', '2011-01-01T00:00:00.000000000',
       '2011-02-01T00:00:00.000000000', '2011-03-01T00:00:00.000000000',
       '2011-04-01T00:00:00.000000000', '2011-05-01T00:00:00.000000000',
       '2011-06-01T00:00:00.000000000', '2011-07-01T00:00:00.000000000',
       '2011-08-01T00:00:00.000000000', '2011-09-01T00:00:00.000000000',
       '2011-10-01T00:00:00.000000000', '2011-11-01T00:00:00.000000000',
       '2011-12-01T00:00:00.000000000', '2012-01-01T00:00:00.000000000',
       '2012-02-01T00:00:00.000000000', '2012-03-01T00:00:00.000000000',
       '2012-04-01T00:00:00.000000000', '2012-05-01T00:00:00.000000000',
       '2012-06-01T00:00:00.000000000', '2012-07-01T00:00:00.000000000',
       '2012-08-01T00:00:00.000000000', '2012-09-01T00:00:00.000000000',
       '2012-10-01T00:00:00.000000000', '2012-11-01T00:00:00.000000000',
       '2012-12-01T00:00:00.000000000', '2013-01-01T00:00:00.000000000',
       '2013-02-01T00:00:00.000000000', '2013-03-01T00:00:00.000000000',
       '2013-04-01T00:00:00.000000000', '2013-05-01T00:00:00.000000000',
       '2013-06-01T00:00:00.000000000', '2013-07-01T00:00:00.000000000',
       '2013-08-01T00:00:00.000000000', '2013-09-01T00:00:00.000000000',
       '2013-10-01T00:00:00.000000000', '2013-11-01T00:00:00.000000000',
       '2013-12-01T00:00:00.000000000', '2014-01-01T00:00:00.000000000',
       '2014-02-01T00:00:00.000000000', '2014-03-01T00:00:00.000000000',
       '2014-04-01T00:00:00.000000000', '2014-05-01T00:00:00.000000000',
       '2014-06-01T00:00:00.000000000', '2014-07-01T00:00:00.000000000',
       '2014-08-01T00:00:00.000000000', '2014-09-01T00:00:00.000000000',
       '2014-10-01T00:00:00.000000000', '2014-11-01T00:00:00.000000000',
       '2014-12-01T00:00:00.000000000', '2015-01-01T00:00:00.000000000',
       '2015-02-01T00:00:00.000000000', '2015-03-01T00:00:00.000000000',
       '2015-04-01T00:00:00.000000000', '2015-05-01T00:00:00.000000000',
       '2015-06-01T00:00:00.000000000', '2015-07-01T00:00:00.000000000',
       '2015-08-01T00:00:00.000000000', '2015-09-01T00:00:00.000000000',
       '2015-10-01T00:00:00.000000000', '2015-11-01T00:00:00.000000000',
       '2015-12-01T00:00:00.000000000', '2016-01-01T00:00:00.000000000',
       '2016-02-01T00:00:00.000000000', '2016-03-01T00:00:00.000000000',
       '2016-04-01T00:00:00.000000000', '2016-05-01T00:00:00.000000000',
       '2016-06-01T00:00:00.000000000', '2016-07-01T00:00:00.000000000',
       '2016-08-01T00:00:00.000000000', '2016-09-01T00:00:00.000000000',

In [17]:
mseries_df = pd.concat([monthly_df, monthly_hf_df], axis=1, join="outer", verify_integrity=True)

In [18]:
mseries_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1355 entries, 1913-01-01 to 2025-11-01
Freq: MS
Data columns (total 36 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   HSN1FNSA          752 non-null    float64
 1   PERMIT1NSA        800 non-null    float64
 2   HOUST1FNSA        800 non-null    float64
 3   UNDCON1UNSA       669 non-null    float64
 4   COMPU1UNSA        692 non-null    float64
 5   ACTLISCOUUS       112 non-null    float64
 6   NEWLISCOUUS       112 non-null    float64
 7   MEDDAYONMARUS     112 non-null    float64
 8   MNMFS             608 non-null    float64
 9   EXSFHSUSM495N     13 non-null     float64
 10  HOSINVUSM495N     13 non-null     float64
 11  MSACSRNSA         752 non-null    float64
 12  PRRESCON          392 non-null    float64
 13  WPU80             195 non-null    float64
 14  PPIACO            1352 non-null   float64
 15  WPU101            1196 non-null   float64
 16  WPU102            1196 non-null   float64
 17  WPU081            1196 non-null   float64
 18  WPU139902094      129 non-null    float64
 19  FMNHSHPSIUS       175 non-null    float64
 20  FIXHAI            13 non-null     float64
 21  UNRATE            932 non-null    float64
 22  ADPMINDCONNERNSA  190 non-null    float64
 23  ADPMNUSNERNSA     190 non-null    float64
 24  CSUSHPINSA        464 non-null    float64
 25  UMCSENT           665 non-null    float64
 26  CUUR0000SEHA      1069 non-null   float64
 27  MORTGAGE30US      655 non-null    float64
 28  MORTGAGE15US      410 non-null    float64
 29  OBMMIVA30YF       106 non-null    float64
 30  OBMMIJUMBO30YF    106 non-null    float64
 31  OBMMIFHA30YF      106 non-null    float64
 32  OBMMIC30YF        106 non-null    float64
 33  OBMMIUSDA30YF     106 non-null    float64
 34  OBMMIC30YFNA      106 non-null    float64
 35  OBMMIC15YF        106 non-null    float64
dtypes: float64(36)
memory usage: 391.7 KB

In [19]:
mseries_df.tail(24)

,HSN1FNSA,PERMIT1NSA,HOUST1FNSA,UNDCON1UNSA,COMPU1UNSA,ACTLISCOUUS,NEWLISCOUUS,MEDDAYONMARUS,MNMFS,EXSFHSUSM495N,HOSINVUSM495N,MSACSRNSA,PRRESCON,WPU80,PPIACO,WPU101,WPU102,WPU081,WPU139902094,FMNHSHPSIUS,FIXHAI,UNRATE,ADPMINDCONNERNSA,ADPMNUSNERNSA,CSUSHPINSA,UMCSENT,CUUR0000SEHA,MORTGAGE30US,MORTGAGE15US,OBMMIVA30YF,OBMMIJUMBO30YF,OBMMIFHA30YF,OBMMIC30YF,OBMMIUSDA30YF,OBMMIC30YFNA,OBMMIC15YF
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2023-12-01,49.0,66.3,72.8,658.1,100.6,714214.0,235584.0,61.0,2.5,NaN,NaN,9.2,63991.0,163.514,249.866,325.503,323.022,244.746,158.904,67.2,NaN,3.8,7923000.0,132439000.0,310.940,69.7,410.606,6.61,5.93,6.174,6.514,6.485,6.564,6.540,6.408,5.993
2024-01-01,58.0,77.2,70.3,664.6,61.8,665603.0,295190.0,69.0,2.7,NaN,NaN,7.9,62796.0,163.998,251.306,338.362,321.658,246.536,159.199,70.7,NaN,3.7,7877000.0,131172000.0,310.809,79.0,412.019,6.69,5.96,6.091,6.973,6.370,6.528,6.360,6.377,5.861
2024-02-01,58.0,80.5,82.2,664.2,81.6,664745.0,339380.0,61.0,2.5,NaN,NaN,7.8,63898.0,163.963,254.926,344.739,322.158,248.576,158.408,72.8,NaN,3.9,7867000.0,130546000.0,312.735,76.9,413.695,6.94,6.26,6.500,7.347,6.655,6.885,6.766,6.752,6.344
2024-03-01,65.0,86.0,88.8,673.4,78.9,694844.0,395536.0,50.0,2.8,NaN,NaN,7.0,73435.0,164.201,255.095,321.137,327.703,251.805,157.704,71.9,NaN,3.9,7890000.0,130578000.0,316.919,79.4,415.219,6.79,6.11,6.312,6.931,6.455,6.731,6.450,6.610,6.004
2024-04-01,65.0,94.3,96.1,673.0,91.0,734324.0,432032.0,47.0,2.3,NaN,NaN,7.0,79721.0,164.816,256.978,314.128,336.562,254.976,161.653,71.9,NaN,3.9,7942000.0,131024000.0,320.848,77.2,416.386,7.17,6.44,6.798,7.396,6.909,7.242,6.825,7.120,6.632
2024-05-01,61.0,94.4,91.6,676.6,86.2,787726.0,433906.0,45.0,2.4,NaN,NaN,7.6,85582.0,164.841,255.313,314.168,351.200,250.461,162.584,69.4,NaN,4.0,8048000.0,131666000.0,323.795,69.1,417.772,7.03,6.36,6.582,7.156,6.749,7.020,6.801,6.895,6.346
2024-06-01,58.0,83.8,93.3,671.3,93.1,839960.0,426092.0,48.0,2.1,NaN,NaN,8.1,87280.0,165.347,255.914,308.611,351.993,250.044,161.738,72.6,NaN,4.1,8168000.0,133217000.0,325.348,68.2,418.820,6.86,6.16,6.462,7.182,6.665,6.938,6.711,6.749,6.379
2024-07-01,61.0,85.7,80.9,658.6,91.3,883905.0,405404.0,51.0,2.2,NaN,NaN,7.7,87211.0,166.518,257.321,301.282,351.282,247.533,162.229,71.5,93.8,4.2,8274000.0,134401000.0,325.670,66.4,420.577,6.78,6.07,6.146,6.979,6.532,6.674,6.466,6.513,5.926
2024-08-01,56.0,85.8,89.5,657.0,89.3,908944.0,383552.0,53.0,2.2,NaN,NaN,8.5,87396.0,166.513,255.463,295.464,342.036,251.601,161.640,72.1,99.1,4.2,8309000.0,134503000.0,325.113,67.9,422.223,6.35,5.51,5.786,6.639,6.130,6.368,6.212,6.192,5.677
2024-09-01,58.0,76.4,89.4,661.2,84.6,940291.0,399754.0,55.0,2.5,298000.0,1360000.0,8.2,81506.0,166.682,252.682,291.516,345.676,255.227,161.946,73.9,104.9,4.1,8298000.0,134280000.0,324.744,70.1,423.821,6.08,5.16,5.631,6.416,5.883,6.138,5.977,5.990,5.364
2024-10-01,46.0,83.9,79.6,651.5,85.8,954201.0,365692.0,58.0,2.4,314000.0,1370000.0,10.6,79615.0,166.360,253.081,294.235,353.984,258.077,162.647,74.6,102.4,4.1,8308000.0,134581000.0,324.065,70.5,425.381,6.72,5.99,6.359,6.823,6.425,6.786,6.601,6.639,6.056
2024-11-01,46.0,66.2,76.4,640.5,85.1,952414.0,323376.0,61.0,2.4,287000.0,1330000.0,10.7,74674.0,166.369,253.211,297.911,352.474,263.493,161.725,75.0,99.4,4.2,8306000.0,134890000.0,323.780,71.8,426.651,6.81,6.10,6.160,6.980,6.359,6.678,6.517,6.529,6.002
2024-12-01,54.0,67.8,74.9,623.5,89.8,871518.0,237758.0,70.0,2.6,299000.0,1140000.0,9.0,66433.0,166.615,253.423,288.188,351.086,265.797,163.808,73.1,100.9,4.1,8246000.0,134211000.0,323.379,74.0,428.151,6.85,6.00,6.297,6.986,6.474,6.863,6.567,6.726,6.186
2025-01-01,56.0,73.1,68.3,623.1,68.5,829376.0,327016.0,73.0,2.7,218000.0,1180000.0,8.9,62652.0,167.979,257.360,286.655,356.366,264.294,165.520,73.4,101.7,4.0,8151000.0,132574000.0,323.694,71.7,429.506,6.95,6.12,6.373,6.984,6.501,6.843,6.523,6.672,6.125
2025-02-01,56.0,73.9,79.8,626.8,76.4,847825.0,353658.0,66.0,2.8,235000.0,1230000.0,8.7,62727.0,167.770,259.498,296.547,363.269,269.404,168.623,71.6,102.6,4.1,8167000.0,132221000.0,325.147,64.7,430.603,6.76,5.94,6.094,6.687,6.347,6.600,6.436,6.478,5.756
2025-03-01,63.0,84.5,80.7,618.9,87.6,892561.0,435960.0,53.0,2.8,285000.0,1330000.0,7.9,72128.0,168.077,258.525,312.996,374.205,278.435,168.875,68.1,103.4,4.2,8178000.0,132306000.0,327.747,57.0,431.798,6.65,5.89,6.125,6.729,6.269,6.600,6.306,6.453,5.786
2025-04-01,65.0,88.3,87.3,628.1,78.7,959251.0,471788.0,50.0,2.6,316000.0,1450000.0,7.6,75532.0,167.480,258.392,320.642,380.484,274.511,170.304,69.2,101.0,4.2,8209000.0,132672000.0,329.917,52.2,432.956,6.81,5.94,6.282,6.838,6.436,6.709,6.374,6.591,5.891
2025-05-01,56.0,84.1,87.7,628.0,89.1,1036101.0,465096.0,51.0,2.4,355000.0,1540000.0,9.0,80187.0,167.750,258.642,333.703,380.474,269.699,168.116,73.5,97.0,4.2,8274000.0,133197000.0,331.458,52.2,433.698,6.89,6.03,6.445,7.023,6.530,6.842,6.506,6.722,6.072
2025-06-01,58.0,79.9,88.9,638.1,78.6,1082520.0,452414.0,53.0,2.7,356000.0,1540000.0,8.8,83450.0,167.945,260.690,320.583,385.291,266.567,167.112,69.8,95.0,4.1,8376000.0,134562000.0,331.685,60.7,434.594,6.77,5.89,6.288,6.779,6.467,6.668,6.455,6.556,5.866
2025-07-01,56.0,79.0,87.5,640.9,86.2,1102787.0,434816.0,58.0,2.7,354000.0,1550000.0,9.1,84933.0,168.824,262.562,319.155,403.846,264.264,166.755,71.8,98.8,4.2,8464000.0,135787000.0,331.003,61.7,435.489,6.72,5.85,6.332,6.888,6.498,6.722,6.520,6.583,5.861
2025-08-01,66.0,72.4,78.4,624.7,95.6,1098681.0,402268.0,60.0,2.7,341000.0,1530000.0,7.5,86105.0,168.678,262.443,322.708,403.041,265.696,168.153,71.4,NaN,4.3,8479000.0,135818000.0,330.022,58.2,436.981,6.56,5.69,5.998,6.572,6.259,6.494,6.265,6.390,5.447
2025-09-01,NaN,NaN,NaN,NaN,NaN,1100407.0,394878.0,62.0,NaN,323000.0,1550000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.4,NaN,NaN,8457000.0,135695000.0,NaN,55.1,438.212,6.30,5.49,5.819,6.465,6.084,6.315,6.128,6.169,5.498
2025-10-01,NaN,NaN,NaN,NaN,NaN,1100001.0,384264.0,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8452000.0,135995000.0,NaN,NaN,NaN,6.17,5.41,5.670,6.358,6.043,6.156,6.064,6.039,5.354
2025-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
mseries_df.shape

(1355, 36)

In [21]:
mseries_df.isna().sum().sort_values(ascending=False)

EXSFHSUSM495N       1342
FIXHAI              1342
HOSINVUSM495N       1342
OBMMIFHA30YF        1249
OBMMIVA30YF         1249
OBMMIJUMBO30YF      1249
OBMMIC15YF          1249
OBMMIC30YF          1249
OBMMIC30YFNA        1249
OBMMIUSDA30YF       1249
ACTLISCOUUS         1243
NEWLISCOUUS         1243
MEDDAYONMARUS       1243
WPU139902094        1226
FMNHSHPSIUS         1180
ADPMINDCONNERNSA    1165
ADPMNUSNERNSA       1165
WPU80               1160
PRRESCON             963
MORTGAGE15US         945
CSUSHPINSA           891
MNMFS                747
MORTGAGE30US         700
UMCSENT              690
UNDCON1UNSA          686
COMPU1UNSA           663
HSN1FNSA             603
MSACSRNSA            603
HOUST1FNSA           555
PERMIT1NSA           555
UNRATE               423
CUUR0000SEHA         286
WPU101               159
WPU102               159
WPU081               159
PPIACO                 3
dtype: int64

In [22]:
restricted_mseries_df = mseries_df.query('index >= "2017-01-01" & index <= "2024-12-01"').drop(columns=['EXSFHSUSM495N', 'HOSINVUSM495N', 'FIXHAI'])

In [23]:
restricted_mseries_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 96 entries, 2017-01-01 to 2024-12-01
Freq: MS
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   HSN1FNSA          96 non-null     float64
 1   PERMIT1NSA        96 non-null     float64
 2   HOUST1FNSA        96 non-null     float64
 3   UNDCON1UNSA       96 non-null     float64
 4   COMPU1UNSA        96 non-null     float64
 5   ACTLISCOUUS       96 non-null     float64
 6   NEWLISCOUUS       96 non-null     float64
 7   MEDDAYONMARUS     96 non-null     float64
 8   MNMFS             96 non-null     float64
 9   MSACSRNSA         96 non-null     float64
 10  PRRESCON          96 non-null     float64
 11  WPU80             96 non-null     float64
 12  PPIACO            96 non-null     float64
 13  WPU101            96 non-null     float64
 14  WPU102            96 non-null     float64
 15  WPU081            96 non-null     float64
 16  WPU139902094      96 non-null     float64
 17  FMNHSHPSIUS       96 non-null     float64
 18  UNRATE            96 non-null     float64
 19  ADPMINDCONNERNSA  96 non-null     float64
 20  ADPMNUSNERNSA     96 non-null     float64
 21  CSUSHPINSA        96 non-null     float64
 22  UMCSENT           96 non-null     float64
 23  CUUR0000SEHA      96 non-null     float64
 24  MORTGAGE30US      96 non-null     float64
 25  MORTGAGE15US      96 non-null     float64
 26  OBMMIVA30YF       96 non-null     float64
 27  OBMMIJUMBO30YF    96 non-null     float64
 28  OBMMIFHA30YF      96 non-null     float64
 29  OBMMIC30YF        96 non-null     float64
 30  OBMMIUSDA30YF     96 non-null     float64
 31  OBMMIC30YFNA      96 non-null     float64
 32  OBMMIC15YF        96 non-null     float64
dtypes: float64(33)
memory usage: 25.5 KB

In [24]:
restricted_mseries_df.describe()

,HSN1FNSA,PERMIT1NSA,HOUST1FNSA,UNDCON1UNSA,COMPU1UNSA,ACTLISCOUUS,NEWLISCOUUS,MEDDAYONMARUS,MNMFS,MSACSRNSA,PRRESCON,WPU80,PPIACO,WPU101,WPU102,WPU081,WPU139902094,FMNHSHPSIUS,UNRATE,ADPMINDCONNERNSA,ADPMNUSNERNSA,CSUSHPINSA,UMCSENT,CUUR0000SEHA,MORTGAGE30US,MORTGAGE15US,OBMMIVA30YF,OBMMIJUMBO30YF,OBMMIFHA30YF,OBMMIC30YF,OBMMIUSDA30YF,OBMMIC30YFNA,OBMMIC15YF
count,96.000000,96.000000,96.000000,96.000000,96.000000,9.600000e+01,96.000000,96.000000,96.000000,96.00000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,9.600000e+01,9.600000e+01,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.00000,96.000000,96.000000,96.000000,96.000000
mean,57.260417,78.208333,80.160417,611.739583,77.701042,8.696438e+05,422925.000000,56.020833,3.111458,6.60625,60414.093750,136.649354,223.976844,282.461292,289.080042,263.613865,137.031135,77.797917,4.586458,7.414542e+06,1.263674e+08,251.354687,80.892708,354.882333,4.692708,4.044792,4.532073,4.841531,4.81801,4.840760,4.760229,4.677948,4.160750
std,9.911445,13.261124,13.102290,111.847299,9.943308,2.918249e+05,85923.632947,12.910199,0.714639,1.89358,15355.481606,20.402664,29.163110,71.436037,46.902823,59.939845,16.581452,10.275202,1.921711,4.333786e+05,4.776302e+06,49.233089,15.063181,37.137937,1.489707,1.443266,1.404221,1.478837,1.32707,1.429598,1.370809,1.414088,1.414617
min,38.000000,50.900000,52.600000,424.400000,52.700000,3.465140e+05,215940.000000,30.000000,1.500000,3.40000,34714.000000,111.800000,185.500000,200.400000,220.400000,203.100000,112.000000,56.700000,3.400000,6.580000e+06,1.162660e+08,184.633000,50.000000,303.467000,2.670000,2.100000,2.347000,2.822000,2.71000,2.770000,2.634000,2.690000,2.241000
25%,50.000000,68.850000,72.475000,516.975000,71.225000,6.162358e+05,368866.000000,47.750000,2.600000,5.17500,48634.750000,120.300000,198.550000,214.050000,244.425000,216.700000,119.550000,70.375000,3.675000,7.144750e+06,1.231825e+08,205.331750,68.125000,325.401500,3.540000,2.987500,3.432750,3.729500,3.85650,3.742750,3.747750,3.564250,3.058500
50%,56.000000,79.200000,80.900000,594.650000,78.800000,8.557390e+05,426440.000000,55.000000,3.150000,6.25000,59100.500000,125.250000,204.700000,248.750000,283.150000,249.672000,134.750000,77.000000,3.950000,7.344000e+06,1.261895e+08,235.364000,79.200000,344.606500,4.195000,3.630000,4.299000,4.397500,4.59850,4.485500,4.437000,4.329500,3.805000
75%,62.000000,85.850000,89.550000,690.300000,84.450000,1.151889e+06,493544.000000,64.000000,3.525000,7.70000,73744.750000,162.584500,254.126500,333.252000,331.951750,278.100500,151.027250,87.025000,4.400000,7.762250e+06,1.305540e+08,302.057250,96.825000,386.329750,6.367500,5.590000,6.066250,6.442750,6.36175,6.410250,6.249000,6.200000,5.780250
max,85.000000,111.300000,111.600000,839.000000,100.600000,1.325376e+06,584354.000000,88.000000,5.100000,11.40000,88297.000000,166.682000,280.251000,433.525000,376.168000,462.000000,163.808000,93.800000,14.800000,8.309000e+06,1.348900e+08,325.670000,101.400000,428.151000,7.790000,7.030000,7.399000,7.942000,7.43700,7.777000,7.525000,7.621000,6.999000

In [25]:
# make sure intermediate path exists
wip_dest = Path("./data/wip")
wip_dest.mkdir(parents=True, exist_ok=True)

save_atomic(restricted_mseries_df, Path(f'data/wip/mseries.wip.parquet'), {})

WindowsPath('data/wip/mseries.wip.parquet')